html {
	box-sizing: border-box;
}

body {
	font-family: 'Comfortaa', sans-serif;
	color: #000;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 1.2;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style: none;
}

.button {
	border: none;
	border-radius: 0;
	padding: 18px 54px;
	background: #ffbd59;
	font-family: 'Comfortaa', cursive;
	font-size: 14px;
	font-weight: 600;
	cursor: pointer;
}

.container {
	max-width: 1180px;
	padding: 0 10px;
	margin: 0 auto;
}

.section--decor {
	position: relative;
}

.section--decor::before {
	position: absolute;
	background-image: url('../img/about-decor.png');
	content: '';
	left: 0;
	bottom: 0;
	width: 22px;
	height: 30px;
}

.section--decor::after {
	position: absolute;
	background-color: #7b6152;
	content: '';
	left: 22px;
	bottom: 13px;
	width: 100%;
	height: 1px;
}

.title {
    font-family: 'Yeseva One', cursive;
	font-size: 40px;
	margin-bottom: 15px;
	font-weight: 400;
}

.section {
	padding-bottom: 150px;
}

.header {
	background: #fff8f3;
}
.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu__list {
	display: flex;
	gap: 20px;
}

.menu__list-item {
	text-transform: uppercase;
}

.menu__btn {
	display: none;
}

.phone {
	position: relative;
}

.phone::before {
	position: absolute;
	top: -3px;
	left: -23px;
	content: '';
	background-image: url(../img/phone.svg);
	width: 20px;
	height: 20px;
}

.main {
	background-color: #fff8f3;
	overflow-x: clip;
}

.top {
	padding-top: 40px;
	padding-bottom: 150px;
}

.top__inner {
	position: relative;
}

.top__content {
	width: 370px;
	padding: 150px 0 250px;
}

.top__title {
	font-size: 30px;
	font-family: 'Yeseva One', cursive;
	font-weight: 400;
}

.top__text {
	margin-top: 15px;
	margin-bottom: 48px;
}

.top__buy {
	border: none;
	border-radius: 0;
	padding: 18px 54px;
	background: #ffbd59;
	font-family: 'Comfortaa', cursive;
	font-size: 14px;
	font-weight: 600;
	cursor: pointer;
}
.top__img {
	position: absolute;
	top: 0;
	left: 240px;
}
.about {
	background-color: #a5978e;
	padding: 50px 0 50px;
	color: #fafafa;
	margin-bottom: 150px;
}

.about__inner {
	display: flex;
	align-items: center;
}

.about__content {
	min-width: 370px;
}

.about__text {
	margin-bottom: 15px;
}

.about__list {
	display: flex;
	align-items: center;
	padding-left: 110px;
	padding-bottom: 48px;
	gap: 0 20px;
}

.about__item-img {
	margin-bottom: 10px;
}

.about__item-text {
	font-size: 11px;
}

.section__inner {
	display: grid;
	grid-template-columns: 370px auto;
	gap: 20px;
}

.section__content-descr {
	display: grid;
	grid-template-columns: auto auto;
	gap: 50px 90px;
	padding-bottom: 92px;
}

.products__item {
	width: 290px;
	margin: 0 auto;
	text-align: center;
}

.products__item-img {
	margin-bottom: 8px;
}

.products__item-price {
	margin-bottom: 12px;
	font-size: 16px;
	font-family: 'Yeseva One', cursive;
	font-weight: 400;
}

.products__item-title {
	margin-bottom: 16px;
	font-size: 16px;
	font-family: 'Yeseva One', cursive;
	font-weight: 400;
}

.products__item-text {
	margin-bottom: 27px;
	font-size: 12px;
}

.steps__list {
	gap: 70px 25px;
	counter-reset: number;
}

.steps__item::before {
	counter-increment: number;
	content: '0' counter(number);
	position: absolute;
	bottom: 0;
	left: 0;
	font-family: 'Yeseva One', cursive;
	font-weight: 400;
	font-size: 30px;
	color: #bea495;
}

.steps__item:nth-child(n + 10)::before {
	content: counter(number);
}

.steps__item.steps__item--even::before {
	left: auto;
	right: 0;
}

.steps__item {
	display: flex;
	position: relative;
	list-style-type: none;
	gap: 40px;
}

.steps__item-text {
	flex-basis: 174px;
	padding-bottom: 40px;
}

.courses__item-img {
	position: relative;
	color: #fff;
	font-size: 11px;
	font-family: 'Yeseva One', cursive;
	margin-bottom: 28px;
}

.courses__title {
	padding: 15px;
	background-color: #bea495;
	position: absolute;
	left: 9px;
	bottom: 157px;
}

.courses__time {
	padding: 7px 10px;
	background-color: #bea495;
	position: absolute;
	left: 9px;
	bottom: 115px;
}

.courses__time span {
	font-family: 'Comfortaa', cursive;
	font-size: 10px;
}

.courses__price {
	padding: 19px 10px;
	background-color: #bea495;
	position: absolute;
	right: -14px;
	bottom: -13px;
}

.team {
	background-color: #a5978e;
	padding: 61px 0 83px;
	color: #fff;
	margin-bottom: 150px;
}

.team__content {
	padding-bottom: 0;
	gap: 75px;
}

.team__item {
	position: relative;
}

.team__item-box {
	background-color: #7b6152;
	text-align: center;
	position: absolute;
	padding: 14px 10px;
	width: 165px;
	z-index: 4;
	bottom: 8px;
	right: 33px;
}

.team__item-name {
	font-family: 'Yeseva One', cursive;
	font-size: 12px;
}

.team__item-descr {
	font-size: 10px;
}

.feedback__content {
    padding-bottom: 110px;
}

.feedback__item {
    /* padding-left: 20px; */
    display: grid;
    grid-template-columns: auto auto;
    gap: 0 16px;
    align-items: center;
}

.feedback__item-video {
    position: relative;
}

.feedback__item-videobtn {
    background: transparent;
    border: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.feedback__item-sociallink {
    margin-bottom: 12px;
}

.feedback__item-name {
    font-family: 'Yeseva One', cursive;
	font-size: 16px;
    margin-bottom: 15px;
}

.feedback__item-text {
    margin-bottom: 15px;
}

.feedback__item-btn {
    position: absolute;
    bottom: 10px;
    right: 0;
}

.feedback__item-content {
    padding-bottom: 70px;
}

.feedback__slider {
   width: 760px; 
   overflow: hidden;
}

.feedback__content .swiper-pagination {
    bottom: 50px;
}

.swiper-pagination-bullet {
    border-radius: 0;
    opacity: 1;
    background-color: #BEA495;
    width: 53px;
    height: 4px;
}

.swiper-pagination-bullet-active {
    background-color: #7B6152;
}

.sertificates__slider {
    width: 1135px; 
    overflow: hidden;
}

.sertificates__content {
    padding-bottom: 114px;
}

.sertificates__content .swiper-pagination {
    bottom: 50px;
    text-align: left;
}

.accordeon {

}

.accordeon__item {
    background-color: #fafafa;
    margin-bottom: 10px;
}

.accordeon__title {
    font-family: 'Yeseva One', cursive;
	font-size: 16px;
    font-weight: 400;
    color: #000;
    display: block;
    width: 100%;
    text-align: left;
    background-color: transparent;
    padding: 16px 50px 16px 25px;
    border: none;
    position: relative;
}

.accordeon__title::after {
    content: "";
    background-image: url("../img/down.png");
    width: 16px;
    height: 16px;
    position: absolute;
    right: 26px;
}

.accordeon__text {
    display: none;
    padding: 20px 25px;
    
}

.active {
    display: block;
}

.accordeon__text-title {
    font-family: 'Yeseva One', cursive;
	font-size: 16px;
    font-weight: 400;
    color: #000;
    padding: 16px 50px 16px 0px;
    position: relative;
    width: 100%;
}

.accordeon__text-title::after {
    content: "";
    background-image: url("../img/up.png");
    width: 16px;
    height: 16px;
    position: absolute;
    right: 1px;
}

.promo {
    background-image: url("../img/promo-1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 140px 0;
}

.promo__inner {
    display: flex;
    align-items: center;
}

.promo__text {
    color: #fff;
    font-family: 'Yeseva One', cursive;
    font-size: 40px;
    font-weight: 400;
    padding-left: 56px;
}

.promo__link {
    margin-left: 108px;
    background-color: #FFBD59;
    min-width: 150px;
    text-align: center;
}

.contacts {
   padding: 150px 0 50px; 
}

.contacts__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form {
    background: #fff;
    width: 664px;
    padding: 75px 42px 67px;
}

.form__title {
    color: #000;
    font-family: 'Yeseva One', cursive;
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 60px;
}

.form__input {
    border: none;
    width: 100%;
    display: block;
    border-bottom: 1px solid #000;
    margin-bottom: 15px;
    padding: 7px 10px;
}

.form__input::placeholder {
    color: #B3B3B3;
    font-family: 'Comfortaa', cursive;
    font-size: 14px;
    font-weight: 400;

}

.form__btn {
    background-color: #FFBD59;
    padding: 17px 34px;
    font-family: 'Comfortaa', cursive;
    font-size: 14px;
    font-weight: 600;
    color: #272727;
    margin-top: 36px;
}

.footer {
	padding-top: 40px;
	padding-bottom: 25px;
}

.footer__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer__contacts {
	display: flex;
	flex-direction: column;
	width: 230px;
}

.email {
	margin: 17px 0;
}

.footer__social {
	display: flex;
	gap: 15px;
}









@media (max-width: 1050px) {
	.steps__list {
		gap: 37px 35px;
	}

	.steps__item {
		gap: 30px;
	}
}







@media (max-width: 1000px) {
	.container {
		padding-left: 20px;
		padding-right: 20px;
	}

	.top__content {
		width: 333px;
		padding: 95px 0 70px;
	}

	.top__img {
		left: 300px;
	}

	.top__img-l {
		width: 655px;
	}

	.about__content {
		min-width: 300px;
	}

	.about__list {
		padding-left: 20px;
	}

	.section__inner {
		grid-template-columns: 290px auto;
		gap: 0 10px;
	}

	.products__content {
		gap: 67px;
	}

	.section__text {
		font-size: 10px;
	}

	.team__content {
		gap: 30px 20px;
	}

    .feedback__inner {
        grid-template-columns: 260px auto;
    }

    .feedback__slider {
        width: 690px;
    }

    .sertificates__content img {
        width: 280px; 
    }

    .sertificates__slider {
        width: 880px;
    }

    .promo__link {
        min-width: 195px;
    }

    .promo__text {
        padding-left: 0;
    }

    .contacts__img {
        width: 335px;
    }
}









@media (max-width: 950px) {
	.title {
		font-size: 15px;
	}

	.steps__title {
		font-size: 30px;
	}

	.footer__inner {
		flex-wrap: wrap;
	}
	.footer__contacts {
		width: 100%;
		text-align: center;
		padding-top: 10px;
	}

	.footer__social {
		justify-content: center;
	}

	.section__inner {
		grid-template-columns: 200px auto;
		/* gap: 0 10px; */
		gap: 30px 16px;
	}

	.section__text {
		font-size: 10px;
	}

	.steps__list {
		gap: 37px 35px;
	}

	.steps__item {
		gap: 0 20px;
	}

	.steps__item-img {
		width: 85px;
		object-fit: cover;
	}

	.steps__item-text {
		font-size: 8px;
	}

	.steps__item::before {
		font-size: 20px;
	}
}















@media (max-width: 768px) {
	body {
		font-size: 10px;
	}
	.container {
		max-width: 640px;
	}

	.phone::before {
		top: -3px;
		left: -16px;
		width: 14px;
		height: 14px;
		background-size: cover;
	}

	.top__content {
		width: 230px;
	}

	.top__title {
		font-size: 20px;
		margin-bottom: 20px;
	}

	.top__text {
		margin-bottom: 20px;
	}

	.top__img {
		left: 180px;
	}

	.about__content {
		min-width: 200px;
	}

	.about__title {
		font-size: 15px;
	}

	.about__list {
		margin-left: 27px;
		margin-bottom: 33px;
		gap: 0 10px;
	}

	.about__item-text {
		font-size: 6px;
	}

	.about__item-img {
		margin-bottom: 6px;
	}

	.about__item-img--1 {
		width: 120px;
	}

	.about__item-img--2 {
		width: 190px;
	}

	.about__item-img--3 {
		width: 120px;
	}

	.section__content-descr {
		gap: 30px 28px;
	}

	.products__item {
		width: 200px;
	}

	.products__item-img {
		width: 200px;
		margin-bottom: 6px;
	}

	.products__item-text {
		font-size: 8px;
	}

	.products__item-title {
		margin-bottom: 9px;
		font-size: 12px;
	}

	.products__item-price {
		margin-bottom: 7px;
		font-size: 12px;
	}

	.button {
		font-size: 12px;
		padding: 10px 26px;
	}

	.courses__title {
		padding: 5px;
		left: -1px;
	}

	.courses__time {
		padding: 5px;
		left: -1px;
	}

	.courses__price {
		padding: 10px 10px;
	}

	.team__img {
		width: 140px;
	}

	.team__item-box {
		padding: 9px 6px 10px;
		width: 109px;
		bottom: 6px;
		right: -30px;
	}

	.team__item-name {
		font-size: 8px;
	}

	.team__item-descr {
		font-size: 7px;
	}

    .feedback__slider {
        width: 447px;
    }

    .feedback__item-video {
        width: 200px;
    }

    .feedback__item-content {
        padding-bottom: 45px;
    }

    .feedback__item-name {
        margin-bottom: 10px;
    }

    .feedback__item-img {
        width: 200px;
    }

    .sertificates__content img {
        width: 220px; 
    }

    .sertificates__slider {
        width: 680px;
    }

    .promo {
        padding: 67px 0;
    }

    .promo__link {
        min-width: 135px;
        font-size: 12px;
    }

    .promo__text {
        font-size: 15px;
    }

    .contacts__img {
        width: 187px;
        object-fit: cover;
    }

    .form {
        width: 440px;
        padding: 30px 22px;
    }

    .form__title {
        font-size: 15px;
        margin-bottom: 20px;
    }

    .form__btn {
        margin-top: 10px;
    }


}









@media (max-width: 640px) {
	.container {
		padding-left: 10px;
		padding-right: 10px;
	}

	.header__menu {
		order: 1;
	}

	.header__menu-list {
		position: absolute;
		left: 0;
		top: 0;
		width: 153px;
		background-color: #7b6152;
		color: #fff8f3;
		flex-direction: column;
		gap: 20 0px;
		padding: 25px 35px 25px 45px;
		transform: translatey(-110%);
		transition: transform 0.5s ease;
	}

	.header__menu-list.menu--open {
		transform: translatey(0%);
	}

	.menu__btn {
		display: block;
		border: none;
		background-color: transparent;
	}

	.section__inner {
		display: flex;
		flex-direction: column;
	}


	.section__descr {
		margin-bottom: 30px;
		text-align: center;
	}

    .team__item {
        width: 215px;
    }

    .team__item-box {
		padding: 9px 6px 10px;
		width: 109px;
		bottom: 6px;
		right: 10px;
	}
}





@media (max-width: 500px) {
	.footer {
		padding: 50px 0;
		font-size: 14px;
	}

	.footer__inner {
		flex-direction: column;
	}

	.footer__menu {
		padding: 50px 0;
		text-align: center;
	}

	.footer__menu-list {
		flex-direction: column;
	}

	.top {
		padding: 30px 0 50px;
	}

	.top__content {
		width: 180px;
	}

	.top__title {
		font-size: 15px;
		margin-bottom: 15px;
	}

	.top__text {
		font-size: 8px;
		margin-bottom: 15px;
	}

	.top__buy {
		font-size: 10px;
		padding: 14px 41px;
	}

	.top__img {
		width: 309px;
		left: 167px;
	}

	.top__img-l {
		width: 100%;
	}

	.about__inner {
		align-items: flex-end;
	}

	.about__content {
		min-width: 172px;
	}

	.about__list {
		margin-left: 0;
		margin-bottom: 0;
		padding-left: 10px;
		gap: 0 10px;
		align-items: flex-end;
	}

	.about__item-text {
		display: none;
	}

	.about__item-img--1 {
		width: 80px;
	}

	.about__item-img--2 {
		width: 140px;
	}

	.about__item-img--3 {
		width: 80px;
	}

	.section {
		padding-bottom: 50px;
	}

	.section__content-descr {
        grid-template-columns: auto auto;
		padding-bottom: 0;
	}

	.section__descr {
		margin: 0 auto 30px;
		width: 300px;
	}

	.about {
		margin-bottom: 50px;
	}

	.steps__list {
		gap: 25px 40px;
	}

    .sertificates__content .swiper-pagination {
        bottom: 50px;
        text-align: center;
    }

    .promo {
        padding: 42px 0;
    }

    .promo__link {
        min-width: 125px;
        margin-left: 85px;
        padding: 11px 17px;
    }

    .contacts__img {
        display: none;
    }

    .contacts {
        padding-top: 50px;
    }
}









@media (max-width: 404px) {
	.steps__list {
		gap: 20px 25px;
	}

	.steps__item {
		gap: 0 16px;
	}

	.steps__item-img {
		width: 66px;
	}

	.courses__content {
		grid-template-columns: auto;
	}

	.courses__item,
	.courses__item img {
		width: 255px;
	}

    .section__content-descr {
        grid-template-columns: auto;
		
	}

    .team__item {
        width: 308px;
    }

    .team__item-box {
        width: 155px;
    }

    .team__item-name {
        font-size: 12px;
    }

    .team__item-descr {
        font-size: 10px;
    }

    .team__img {
        width: 204px;
    }



    
}






@media (max-width: 360px) {
	.top__content {
		width: 203px;
		padding: 20px 0 0;
	}

	.top__img {
		left: 180px;
		right: 0;
	}

	.top__img-l {
		width: 185px;
	}

	.top__title {
		font-size: 18px;
	}

	.top__text {
		width: 198px;
		font-size: 10px;
		margin-right: 12px;
	}

	body {
		font-size: 8px;
	}

	.about {
		padding-top: 25px;
		padding-bottom: 10px;
	}

	.about__content {
		min-width: 233px;
	}

	.about__list {
		padding-left: 12px;
		margin-left: 12px;
		gap: 0 20px;
		padding-bottom: 30px;
	}

	.about__item-img--2 {
		display: none;
	}

	.title {
		margin-bottom: 10px;
	}

	.section__descr {
		margin: 0 auto 25px;
		width: 235px;
	}

	.products__item {
		width: 150px;
	}

	.section__content-descr {
		gap: 40px 7px;
		padding-bottom: 62px;
	}

	.products__item-img {
		width: 150px;
	}

	.button {
		font-size: 8px;
		padding: 8px 20px;
	}

	.products__item-text {
		margin-bottom: 16px;
	}

	.products__item-title {
		font-size: 10px;
	}

	.products__item-price {
		margin-bottom: 5px;
		font-size: 10px;
	}

	.steps__item-text {
		font-size: 6px;
	}

    .sertificates__content {
        text-align: center;
    }

    .sertificates__slider {
        width: 880px;
    } 

    .feedback__item-btn {
        bottom: 0;
        left: 0;
        margin: 0 auto;
        max-width: 100px;
    }

    .feedback__item {
        grid-template-columns: auto;
        text-align: center;
    }

    .feedback__item-video {
        width: 250px;
    }

    .feedback__slider {
        width: 250px;
        margin: 0 auto;
    }

    .feedback__item-img {
        width: 250px;
        margin: 0 auto 20px;
    }

    .promo__link {
        min-width: 78px;
        margin-left: 50px;
        padding: 11px 14px;
    }
}
